<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Booking Confirmation</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        section {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
        }

        h2, h3 {
            color: #3498db;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        table, th, td {
            border: 1px solid #3498db;
        }

        th, td {
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }
    </style>
</head>
<body>

<h2 style="text-align: center; color: #3498db;">Booking Placed Successfully!</h2>
<section>
    <p>Dear customer,</p>
    <p>Your booking has been placed successfully! We're currently processing your request. Please stay tuned for the booking details and charges, which will be provided by the truck provider shortly. Once the provider adds the charges details and confirms, you will receive an email confirmation of your booking.</p>


</section>

<!-- Booking Details -->
<section>
    <h3>Booking Details:</h3>
    <table>
        <tr>
            <th>Booking ID</th>
            <th>Start Destination</th>
            <th>End Destination</th>
            <th>Booking Date</th>
            <th>Distance</th>
            <th>No of Labourers</th>
        </tr>
        <tr>
            <td th:text="${booking.id}"></td>
            <td th:text="${booking.startDestination}"></td>
            <td th:text="${booking.endDestination}"></td>
            <td th:text="${booking.bookingDate}"></td>
            <td th:text="${booking.km}"></td>
            <td th:text="${booking.noOfLabourers}"></td>
        </tr>
    </table>
</section>
<!-- Vehicle Details -->
<section>
    <h3>Vehicle Details:</h3>
    <table>
        <tr>
            <th>Model</th>
            <th>License Plate</th>
            <th>Capacity</th>
            <th>Manufacturer</th>
            <th>Fuel Type</th>
            <th>Current Mileage</th>
            <th>Wheel</th>
        </tr>
        <tr>
            <td th:text="${booking.vehicles.model}"></td>
            <td th:text="${booking.vehicles.licensePlate}"></td>
            <td th:text="${booking.vehicles.capacity}"></td>
            <td th:text="${booking.vehicles.manufacturer}"></td>
            <td th:text="${booking.vehicles.fuelType}"></td>
            <td th:text="${booking.vehicles.currentMileage}"></td>
            <td th:text="${booking.vehicles.wheel}"></td>
        </tr>
    </table>
</section>

<!-- Booking Provider Details -->
<section>
    <h3>Booking Provider Details:</h3>
    <p>Name: <span
            th:text="${booking.getTruckProvider().getFirstName()} + ' ' + ${booking.getTruckProvider().getLastName()}"></span>
    </p>
    <p>Email: <span th:text="${booking.getTruckProvider().getEmail()}"></span></p>
    <p>Phone: <span th:text="${booking.getTruckProvider().getMobileNo()}"></span></p>
</section>
<section>
    <div class="container">

        <div class="terms-content">
            <h2>Terms and Conditions</h2>
            <ol>
                <li><strong>Booking Process:</strong>
                    <ul>
                        <li>You must provide accurate and complete information when making a booking through the
                            Service, including pickup and delivery addresses, goods type, quantity, and any other
                            relevant details.
                        </li>
                        <li>Bookings made through the Service are subject to availability and confirmation by us.</li>
                    </ul>
                </li>
                <li><strong>Responsibilities:</strong>
                    <ul>
                        <li>You are responsible for ensuring that the goods are properly packaged and ready for pickup
                            at the specified location and time.
                        </li>
                        <li>We will use commercially reasonable efforts to transport the goods to the specified delivery
                            location within the agreed-upon timeframe.
                        </li>
                    </ul>
                </li>
                <li><strong>Cancellation Policy:</strong>
                    <ul>
                        <li>You may cancel a booking through the Service subject to our cancellation policy, which may
                            include applicable fees or penalties.
                        </li>
                        <li>We reserve the right to cancel or modify bookings in the event of unforeseen circumstances
                            or for any reason at our sole discretion.
                        </li>
                        <li>
                            <ul>
                                <li>If you cancel the booking 7 days or more before the booking date, no charges will be
                                    applied.
                                </li>
                                <li>If you cancel the booking between 2 and 6 days before the booking date, a 10% charge
                                    will be applied.
                                </li>
                                <li>If you cancel the booking 1 day before the booking date, a 12% charge will be
                                    applied.
                                </li>
                                <li>If you cancel on the booking date, a 20% charge will be applied.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><strong>Payment Terms:</strong>
                    <ul>
                        <li>Payment for bookings made through the Service is due upon confirmation of the booking.</li>
                        <li>At the time of booking, a 20% advance payment is required for confirmation.</li>
                    </ul>
                </li>
                <li><strong>Liability and Insurance:</strong>
                    <ul>
                        <li>We are not liable for any loss, damage, or delay of goods during transportation, except to
                            the extent caused by our gross negligence or willful misconduct.
                        </li>
                    </ul>
                </li>
                <li><strong>Changes During Transportation:</strong>
                    <ul>
                        <li>Any changes requested by the customer during transportation, including but not limited to
                            changes in delivery address, pickup time, or quantity of goods, may incur additional
                            charges.
                        </li>
                        <li>We reserve the right to assess and apply additional charges for changes requested after
                            confirmation of the booking.
                        </li>
                        <li>In the event of unforeseen circumstances during transportation, such as increased toll
                            charges or additional expenses incurred due to route deviations, the customer will be
                            responsible for covering the additional costs.
                        </li>
                    </ul>
                </li>
                <li><strong>Legality of Goods:</strong>
                    <ul>
                        <li>The customer warrants that all goods transported through the Service are legal and compliant
                            with applicable laws and regulations.
                        </li>
                        <li>We reserve the right to refuse to transport any goods that are deemed illegal or prohibited
                            by law.
                        </li>
                        <li>The customer is solely responsible for any legal consequences or liabilities arising from
                            the transportation of illegal goods.
                        </li>
                    </ul>
                </li>
            </ol>
        </div>


    </div>
</section>

<p>If you have any questions or concerns, please contact the provider.</p>

</body>
</html>
