<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Terms and Conditions - Logistic Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <style>
        /* Add your custom styles here */

        .terms-content {
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 5px;
            margin-top: 20px;
        }

        .terms-content h2 {
            margin-bottom: 20px;
        }
        .logo{
            height: 100%;
            min-width: 200px;
        }
        .user-image {
            width: 22px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            object-fit: cover; /* Ensure the image covers the entire space */
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
    <a th:href="@{/index}" class="navbar-brand d-flex align-items-center">
        <img src="/img/logo.png" alt="LMS" class="logo">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/index}" class="nav-item nav-link active">Home</a>
            <a th:href="@{/myBooking}" class="nav-item nav-link">My Booking</a>
            <a th:href="@{/about}" class="nav-item nav-link">About</a>
            <a th:href="@{/service}" class="nav-item nav-link">Services</a>

            <a class="nav-link nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="/img/images.png" alt="User Image" class="user-image">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                <li><a class="dropdown-item" th:href="@{/manageProfile}">Manage Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <!--<h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>+012 345 6789</h4>-->
    </div>
</nav>

<div class="container">

    <div class="terms-content">
        <h2>Terms and Conditions</h2>
        <ol>
            <li><strong>Booking Process:</strong>
                <ul>
                    <li>You must provide accurate and complete information when making a booking through the Service, including pickup and delivery addresses, goods type, quantity, and any other relevant details.</li>
                    <li>Bookings made through the Service are subject to availability and confirmation by us.</li>
                </ul>
            </li>
            <li><strong>Responsibilities:</strong>
                <ul>
                    <li>You are responsible for ensuring that the goods are properly packaged and ready for pickup at the specified location and time.</li>
                    <li>We will use commercially reasonable efforts to transport the goods to the specified delivery location within the agreed-upon timeframe.</li>
                </ul>
            </li>
            <li><strong>Cancellation Policy:</strong>
                <ul>
                    <li>You may cancel a booking through the Service subject to our cancellation policy, which may include applicable fees or penalties.</li>
                    <li>We reserve the right to cancel or modify bookings in the event of unforeseen circumstances or for any reason at our sole discretion.</li>
                    <li>
                        <ul>
                            <li>If you cancel the booking 7 days or more before the booking date, no charges will be applied.</li>
                            <li>If you cancel the booking between 2 and 6 days before the booking date, a 10% charge will be applied.</li>
                            <li>If you cancel the booking 1 day before the booking date, a 12% charge will be applied.</li>
                            <li>If you cancel on the booking date, a 20% charge will be applied.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><strong>Payment Terms:</strong>
                <ul>
                    <li>Payment for bookings made through the Service is due upon confirmation of the booking.</li>
                    <li>At the time of booking, a 20% advance payment is required for confirmation.</li>
                </ul>
            </li>
            <li><strong>Liability and Insurance:</strong>
                <ul>
                    <li>We are not liable for any loss, damage, or delay of goods during transportation, except to the extent caused by our gross negligence or willful misconduct.</li>
                </ul>
            </li>
            <li><strong>Changes During Transportation:</strong>
                <ul>
                    <li>Any changes requested by the customer during transportation, including but not limited to changes in delivery address, pickup time, or quantity of goods, may incur additional charges.</li>
                    <li>We reserve the right to assess and apply additional charges for changes requested after confirmation of the booking.</li>
                    <li>In the event of unforeseen circumstances during transportation, such as increased toll charges or additional expenses incurred due to route deviations, the customer will be responsible for covering the additional costs.</li>
                </ul>
            </li>
            <li><strong>Legality of Goods:</strong>
                <ul>
                    <li>The customer warrants that all goods transported through the Service are legal and compliant with applicable laws and regulations.</li>
                    <li>We reserve the right to refuse to transport any goods that are deemed illegal or prohibited by law.</li>
                    <li>The customer is solely responsible for any legal consequences or liabilities arising from the transportation of illegal goods.</li>
                </ul>
            </li>
        </ol>
    </div>


</div>


</body>

</html>
